.title-deck {
  align-items: center;
  background-image:linear-gradient(#72757e, #16161a);
  color: #7f5af0;
  display: flex;
  justify-content: center;
  height: 150px;
  margin: 0;
}

.container-dackcard {
  background-color: #16161a;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  flex-wrap: wrap;
  width: 100%;
}

.deck-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.button-exclude {
  border-radius: 20px;
  background-color: #987ee7bf;
  font-size: 16px;
  height: 32px;
  margin-left: 8px;
  min-width: 93%;
}

.button-exclude:hover {
  border-radius: 20px;
  background-color: #6246ea;
  box-shadow: 0px 0px 8px #fffffe;
  font-size: 24px;
  height: 32px;
  margin-left: 8px;
  min-width: 100%;
}